<!DOCTYPE html>
<html lang="en-US">
<style type="text/css">
	p { color: red;
		font: arial;
		font-size: 25px;

	}

	h4 {
		color: green;
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 5px;
	}

	h3 {
		padding-top: 15px;
	}

	h5 {
		color: orange;
		text-align: center;
		padding-top: 10px;
		font-size: 20px;
	}

	h2 {
		background-color: blue;
		margin-right: 950px;
	}

	body {
		background: pink;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body>

<div ng-app="">
  <p>Nome : <input type="text" ng-model="name">  <br> <br> <p> Continuação : <input type="text" ng-model="name2"></p>
  <h3>Olá {{name}} {{name2}}, como você está nesse belo dia?</h3>
  <h4>Sou Top tlgd, afinal eu tenho um gatinho mas ele está no veterinario :( </h4> 
  <h5>Mas tem outro gatinho la em casa mas ela é chata demais e esta muito carente dai eu não chego perto dela</h5>
  <h2>O Leandri quase perdeu o pé dele ontem pro gato sei la</h2>
</div>

</body>
</html>